<style type="text/css">
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
}

header.header {
  margin-top: 50%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
  </style>
  <html>
    <body>
      <header class="header">
      <h1>Project: {{project.name}}</h1>
      <p>Participant: {{participant.firstName}} {{participant.lastName}} </p>
      </header>
    </body>
  </html>